@model IEnumerable<DealDunia.Domain.Entities.Coupon>

<link href="@Url.Content("~/Content/Style.css")" rel="stylesheet" type="text/css" />

<div class="row">
    <hr />
    <h4 style="text-align: center; color: #337ab7; font-weight:bold;">COUPONS & DEALS</h4>
    <hr />
    @foreach (var coupon in Model)
    {    
        <div class="panel panel-info" style="float: left; width: 240px; height: 100px; font-family: Verdana; margin: 5px; padding: 5px;">
            <div style="font-size: 12px; margin-bottom: 5px; max-width: 220px; overflow: hidden; max-height: 20px; padding: 2px;">
                <b><a target="_blank" href="@Url.Action("Out", "Out", new { source = "coupons", id = coupon.CouponId })">@coupon.CouponTitle.Replace("&amp;", "&")</a></b>
            </div>
            <div style="padding: 5px;">
                <div style="float: left;">
                    <b><a target="_blank" href="@coupon.OfferURL">
                        <img alt="@coupon.OfferName" src="@Url.Content("~/Images/" + coupon.StoreImage)" style="width:75px; height:30px;" /></a></b>
                </div>
                <div style="height: 30px; width: 140px; float: right; background-color: #ff9d00; font-weight: bold; color: gray; font-size: 11px; padding-top: 4px; text-align: center; border: 1px #fff dashed;">
                    <span><a style="color:white;" target="_blank" href="@Url.Action("Out", "Out", new { source = "coupons", id = coupon.CouponId })">@if (@coupon.OfferType == "Coupon")
                                                                                          { @coupon.CouponCode;
                                                                                          }
                                                                                          else
                                                                                          { <span>DEAL ACTIVATED</span>} </a></span>
                    <br />

                </div>

            </div>
            <div style="float: right; padding: 5px; font-size: 12px; color: gray;">
                @if (@coupon.OfferType == "Coupon")
                {
                    <span>Coupon valid till @coupon.CouponExpiry</span>
                }
                else
                {
                    <span>Deal valid till @coupon.CouponExpiry</span>
                }
            </div>
        </div>    
    }
</div>
@*@foreach (string OfferName in Model.Select(x => x.OfferName).Distinct())
{
    <div class="panel panel-info">
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <td>
                            <img alt="@OfferName" src="@Url.Content("~/Images/" + @Model.Where((x => x.OfferName == OfferName)).FirstOrDefault().StoreImage)" />
                        </td>
                    </tr>
                </table>
                @foreach (var coupon in Model.Where(x => x.OfferName == OfferName))
                {
                    <table class="table-striped">
                        <tr>
                            <td style="width: 600px; margin-left: 10px; margin-right: 10px;">
                                <b><span>@coupon.CouponTitle.Replace("&amp;", "&")</span></b><br />
                            </td>
                            <td>
                                <span><a target="_blank" href="@coupon.OfferURL">@if (@coupon.OfferType == "Coupon")
                                                                                 { @coupon.CouponCode;
                                                                                 }
                                                                                 else
                                                                                 { <span>GRAB OFFER</span>} </a></span>
                                <br />
                                <span><b>Expires on </b>@coupon.CouponExpiry</span>
                            </td>
                        </tr>
                    </table>
                    <br />
                }
            </div>
        </div>
    </div>
}*@