@model IEnumerable<DealDunia.Domain.Entities.ExecutiveDeals>

@{
    ViewBag.Title = "Exclusive Deals";
}
<div class="row">
    <hr />
    <h4 style="text-align: center; color: #337ab7; font-weight: bold;">EXCLUSIVE DEALS</h4>
    <hr />
    @foreach (var coupon in Model)
    {
    
        <div class="panel panel-info" style="float: left; width: 240px; height: 100px; font-family: Verdana; margin: 5px; padding: 5px;">
            <div style="font-size: 12px; margin-bottom: 5px; max-width: 220px; overflow: hidden; max-height: 20px; padding: 2px;">
                <b><a target="_blank" href="@coupon.URL">@coupon.Title.Replace("&amp;", "&")</a></b>
            </div>
            <div style="padding: 5px;">
                <div style="float: left;">
                    <b><a target="_blank" href="@coupon.URL">
                        <img alt="@coupon.StoreName" src="@Url.Content("~/Images/" + coupon.StoreImage)" style="width:75px; height:30px;" /></a></b>
                </div>
                <div style="height: 30px; width: 140px; float: right; background-color: #ff9d00; font-weight: bold; color: gray; font-size: 11px; padding-top: 4px; text-align: center; border: 1px #fff dashed;">
                    <span><a style="color:white;" target="_blank" href="@coupon.URL">DEAL ACTIVATED</span>
                    <br />

                </div>
            </div>
        </div>
    
    }
</div>
