<!DOCTYPE html>

<html lang="en">
<head>
    @*Meta Tags Start*@
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Get the latest deals & coupons offers from India’s top online shopping sites like Amazon, Flipkart, Snapdeal, Myntra, eBay, Paytm any many more on GrabMeDeal" />
    <meta name="keywords" content="Deals,Offers,Coupons,Daily Offers,Daily Deals,Exclusive Deals,Deals of the day" />
    @*Meta Tags End*@

    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />

    @*Style sheets Start*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700">
    @Styles.Render("~/Content/css")
    @*Style sheets End*@
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-6934011-6', 'auto');
        ga('send', 'pageview');

        /*Start - Search function*/
        function GetFilteredResult(searchterm) {
            res = [];
            if (searchterm != '') {
                $.ajax({
                    url: '/Content/search.json',
                    dataType: 'json',
                    async: false,
                }).done(function (data) {
                    res = $(data).filter(function (i, n) {
                        return JSON.stringify(n.value).toUpperCase().indexOf(searchterm.toUpperCase()) > 0;
                    });
                }).fail(function (error) {
                    //TODO
                });
            }
            return res;
        }

        function addToDom(ar, elementId) {
            $('#' + elementId).css("background-color", "silver");
            $('#' + elementId).html(ar.join(''));
        }

        function wrapElements(arr) {
            o = $.map(arr, function (el) { return el; });
            return o.map(function (item) {
                var content = '<div class="result-container" onclick="setSelected(this)"><div class="result-value">' + item.value + '</div><div class="result-source">' + item.source + '</div></div>';
                return content;
            });
        }

        function searchResult(obj) {
            result = GetFilteredResult(obj.value);
            wrapped = wrapElements(result);
            addToDom(wrapped, "results");
        }

        function setSelected(obj) {

            value = $(obj.innerHTML).filter(".result-value").html();
            source = $(obj.innerHTML).filter(".result-source").html();

            alert(value);
            alert(source);

            if (source == 'Category') {
                url = '@Url.Action("Store", "Store", new { store = "__store__" })';
                window.location.href = url.replace("__store__", value);
            }
            else {
                url = '@Url.Action("Store", "Store", new { store = "__store__" })';
                window.location.href = url.replace("__store__", value);
            }
        }
        /*Start - Search function*/
    </script>

    @*  <header class="navbar navbar-default navbar-fixed-top bs-docs-nav" role="banner">
        <div class="container">
            <div class="col-md-2 col-sm-2 col-sx-2">
                <a href="@Url.Action("Index", "Category")">
                    <img alt="GrabMeDeal" src="~/Images/GrabMeDeal/GrabMeDeal.png" /></a>
            </div>
            <div class="col-md-10 col-sm-10 col-sx-10">
                @using (Html.BeginForm("Search", "Product", FormMethod.Post, new { @class = "navbar-form", role = "search" }))
                {
                    <div class="input-group col-md-6 col-sm-6 col-sx-6">
                        <input type="text" class="form-control" placeholder="Search Product across various stores" name="searchtext" value="@ViewBag.SearchedItem">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button>
                        </div>
                    </div>
                }
            </div>
            <div class="navbar navbar-inverse">
                @Html.Action("Menu", "Nav", new { position = "HEADER" })
            </div>
        </div>

    </header>*@


    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*<a class="navbar-brand" href="@Url.Action("Index", "Category")">Grab Me Deal</a>*@
                <a class="navbar-brand" style="padding-top:0px;" href="@Url.Action("Index", "Category")">
                    <img alt="GrabMeDeal" src="~/Images/GrabMeDeal/GrabMeDeal.png" /></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @using (Html.BeginForm("Search", "Product", FormMethod.Post, new { @class = "navbar-form", role = "search" }))
                        {
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search Product across various stores" name="searchtext" value="@ViewBag.SearchedItem" onkeyup="searchResult(this);">
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button>
                                </div>
                            </div>
                        }
                    </li>
                </ul>
                @*@{Html.RenderPartial("_Menu");}*@
                @{Html.RenderPartial("_MegaMenu");}
            </div>
            <!--/.nav-collapse -->

        </div>
    </div>
    <!--  Start - Search function -->
    <style>
        .resultDiv {
            position: absolute;
            width: 325px;
            left: 1023px;
            z-index: 1001;
            top: 51px;
        }
        .result-container {
            cursor:pointer;
        }
    </style>

    <div id="results" class="resultDiv">
    </div>
    <!--  Start - Search function -->
    <div id="body" class="container">
        @* <div class="col-md-2 col-sm-2 col-sx-2">@Html.Action("LeftSidebar", "Nav")</div>*@
        <div>@RenderBody()</div>
    </div>

    <footer>
        <div class="container">
            @* <div class="col-md-12 panel-footer text-center">
                @Html.Action("Menu", "Nav", new { position = "FOOTER" })
            </div>*@
        </div>
    </footer>
    <a href="#" class="scrollToTop"></a>

    <script type="text/javascript">
        $(document).ready(function () {
            //Check to see if the window is top if not then display button
            $(window).scroll(function () {
                if ($(this).scrollTop() > 100) {
                    $('.scrollToTop').fadeIn();
                } else {
                    $('.scrollToTop').fadeOut();
                }
            });

            //Click event to scroll to top
            $('.scrollToTop').click(function () {
                $('html, body').animate({ scrollTop: 0 }, 800);
                return false;
            });
        });
    </script>
</body>
</html>
