<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Conent/css")
    @Scripts.Render("~/bundles/js")
</head>
<body>
    @*    <div class="navbar-header">
        @using (Html.BeginForm("Search", "Product", FormMethod.Post, new { @class = "navbar-form navbar-left", role = "search" }))
        {
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" name="searchtext">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        }
    </div>*@
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div style="max-width: 1366px;">
                    <div style="float: left; margin-right: 10px;">
                        <img alt="CouponWorld" src="~/Images/CouponWorld/CouponWorld.png" />
                    </div>
                    <div style="padding: 2px;">
                        @using (Html.BeginForm("Search", "Product", FormMethod.Post, new { @class = "navbar-form", role = "search" }))
                        {
                            <div class="input-group">
                                <input type="text" style="width: 500px;" class="form-control" placeholder="Search Product across various stores" name="searchtext">
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <nav class="navbar navbar-inverse">
                    <div>
                        @Html.Action("Menu", "Nav", new { position = "HEADER" })
                    </div>
                </nav>
                <div class="row">
                    <div class="col-md-2" style="">@Html.Action("LeftSidebar", "Nav")</div>
                    <div class="col-md-7" style="">@RenderBody()</div>
                    <div class="col-md-3">
                        <iframe width='300' height='600' frameborder='0' scrolling='no' src='http://www.cuelinks.com/widgets/8097?pub_id=12521CL11357'></iframe>
                        <iframe width='300' height='600' frameborder='0' scrolling='no' src='http://www.cuelinks.com/widgets/8103?pub_id=12521CL11357'></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 panel-footer text-center">
                @Html.Action("Menu", "Nav", new { position = "FOOTER" })
            </div>
        </div>
        <a href="#" class="scrollToTop"></a>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            //Check to see if the window is top if not then display button
            $(window).scroll(function () {
                if ($(this).scrollTop() > 100) {
                    $('.scrollToTop').fadeIn();
                } else {
                    $('.scrollToTop').fadeOut();
                }
            });

            //Click event to scroll to top
            $('.scrollToTop').click(function () {
                $('html, body').animate({ scrollTop: 0 }, 800);
                return false;
            });
        });
    </script>
</body>
</html>
