<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Conent/css")
    @Scripts.Render("~/bundles/js")
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @Html.Action("Menu", "Nav", new { position = "HEADER" })
            </div>
        </div>
        <div class="row" style="margin-top:50px;">
            <div class="col-md-2" style="">@Html.Action("LeftSidebar", "Nav")</div>
            <div class="col-md-8" style="">@RenderBody()</div>
            <div class="col-md-2">
                <iframe width='300' height='600' frameborder='0' scrolling='no' src='http://www.cuelinks.com/widgets/8103?pub_id=12521CL11357'></iframe>
                <iframe width='300' height='600' frameborder='0' scrolling='no' src='http://www.cuelinks.com/widgets/8097?pub_id=12521CL11357'></iframe>                
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 panel-footer text-center">
                @Html.Action("Menu", "Nav", new { position = "FOOTER" })
            </div>
        </div>
    </div>

</body>
</html>
