<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Conent/css")
    @Scripts.Render("~/bundles/js")
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @Html.Action("Menu", "Nav", new { position = "HEADER" })
            </div>
        </div>
        <div class="row" style="margin-top:50px;">
            <div class="col-md-2" style="margin-left: -90px;width: 224px;">@Html.Action("LeftSidebar", "Nav")</div>
            <div class="col-md-8" style="width: 841px;">@RenderBody()</div>
            <div class="col-md-2">Right Menu</div>
        </div>
        <div class="row">
            <div class="col-md-12 panel-footer text-center">
                @Html.Action("Menu", "Nav", new { position = "FOOTER" })
            </div>
        </div>
    </div>

</body>
</html>
