<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Conent/css")
    @Scripts.Render("~/bundles/js")
</head>
<body>
    <div>
        @Html.Action("Menu", "Nav", new { position = "HEADER" })
        @RenderBody()
    </div>
    <div class="panel-footer text-center">
        @Html.Action("Menu", "Nav", new { position = "FOOTER" })
    </div>
</body>
</html>
