@model IEnumerable<DealDunia.Domain.Entities.Coupon>

@foreach (string OfferName in Model.Select(x => x.OfferName).Distinct())
{
    <div class="panel panel-info">
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <td>
                            <img alt="@OfferName" src="@Url.Content("~/Images/" + @Model.Where((x => x.OfferName == OfferName)).FirstOrDefault().StoreImage)" />
                        </td>
                    </tr>
                </table>
                @foreach (var coupon in Model.Where(x => x.OfferName == OfferName))
                {
                    <table class="table-striped">
                        <tr>
                            <td style="width: 600px; margin-left: 10px; margin-right: 10px;">
                                <b><span>@coupon.CouponTitle.Replace("&amp;", "&")</span></b><br />
                                @*<span>@coupon.Description</span>*@
                            </td>
                            <td>
                                <span><a target="_blank" href="@coupon.OfferURL">@if (@coupon.OfferType == "Coupon")
                                                                                 { @coupon.CouponCode;
                                                                                 }
                                                                                 else
                                                                                 { <span>GRAB OFFER</span>} </a></span>
                                <br />
                                <span><b>Expires on </b>@coupon.CouponExpiry</span>
                            </td>
                        </tr>
                    </table>
                    <br />
                }
                @*


            @foreach (var coupon in Model.Where(x => x.OfferName == OfferName))
            {                
                <div>
                    <b><span>@coupon.CouponTitle</span></b>
                    <span>@coupon.Description</span>
                </div>                       
                <div>
                    <span><a target="_blank" href="@coupon.OfferURL">@if (@coupon.OfferType == "Coupon")
                                                                     { @coupon.CouponCode;
                                                                     }
                                                                     else
                                                                     { <span>GRAB OFFER</span>} </a></span>
                    <br />
                    <span><b>Expires on </b>@coupon.CouponExpiry</span>
                </div>                                                         
                <br />
            }
        *@
            </div>
        </div>
    </div>
}