@model IEnumerable<DealDunia.Domain.Entities.Store>

@{
    ViewBag.Title = "Store";
}

@*<h2>@Model.StoreName</h2>*@

<link href="@Url.Content("~/css/style.css")" rel="stylesheet" type="text/css" />

@foreach (string category in Model.Select(x => x.StoreCategoryName).Distinct())
{
    <div class="panel panel-default col-md-12">
        <h4 style="text-align: center;">@category</h4>
        <hr />
        <div class="row">
            @foreach (var store in Model.Where(x => x.StoreCategoryName == category))
            {

                var url = string.Empty;
                if (ViewContext.RouteData.Values["category"]!=null)
                {
                    <div class="div_store_logo">
                        <a target="_blank" href="@Url.Action("Out", "Out", new { source = "couponsbycat", id = store.StoreCatMapId })">
                            <img src="@Url.Content("~/Images/" + store.StoreImage)" alt="@store.StoreName" class="store_logo center"/>
                        </a>
                    </div>            
                    
                }
                else
                {
                    <div class="div_store_logo">
                        <a href="@Url.RouteUrl("Store", new { store = store.StoreName })">
                            <img src="@Url.Content("~/Images/" + store.StoreImage)" alt="@store.StoreName" class="store_logo center"/>
                        </a>
                    </div>
                }
            }
        </div>
    </div>
}