@model IEnumerable<DealDunia.Domain.Entities.Store>
@using DealDunia.Infrastructure.Utility

@{
    ViewBag.Title =  @ViewContext.RouteData.Values["Store"].ToString() + " Deals & Coupons Offers - GrabMeDeal";
    ViewBag.MetaDescription = Utilities.DecodeUrl(@ViewContext.RouteData.Values["Store"].ToString()) + " coupons, discount codes & deals";
    ViewBag.keywords = Utilities.DecodeUrl(@ViewContext.RouteData.Values["Store"].ToString()) + " Coupons, " + Utilities.DecodeUrl(@ViewContext.RouteData.Values["Store"].ToString()) + " Offers";
}

<script>
    $(document).ready(function () {
        var categories = '';
        var offertype = '';

        function Init() {
            categories = '';
            offertype = '';
            $("input[type=checkbox][name=chkcat]:checked").each(function () {
                categories += $(this).val() + ",";
            });
            $("input[type=checkbox][name=chktype]:checked").each(function () {
                offertype += $(this).val() + ",";
            });

            categories = categories.replace(/,\s*$/, "");
            offertype = offertype.replace(/,\s*$/, "");
        }

        function LoadCoupons() {
            Init();
            $.ajax({
                url: '@Url.Action("_Coupons", "Deal")',
                data: { OfferType: offertype, StoreCategoryName: categories, OfferName: '@ViewContext.RouteData.Values["store"].ToString()' }
            }).done(function (data) {
                $("#divCoupon").html(data);
            }).fail(function () {
            });
        }

        $("input[type=checkbox][name=chkcat]").change(function () {
            $("input[type=checkbox][name=chkcat]").not(this).prop('checked', false);
            LoadCoupons();
        });

        //$("input[type=checkbox][name=chkcat]").click(function () {            
        //    LoadCoupons();
        //});

        $("input[type=checkbox][name=chktype]").click(function () {
            LoadCoupons();
        });

        $("#clearType").click(function () {
            $("input[type=checkbox][name=chktype]:checked").each(function () {
                this.checked = false;
            });
            LoadCoupons();
        });

        $("#clearCat").click(function () {
            $("input[type=checkbox][name=chkcat]:checked").each(function () {
                this.checked = false;
            });
            LoadCoupons();
        });

    });
</script>

@{
    var store = Model.Select(x => x.StoreName).FirstOrDefault();
    var storeId = Model.Select(x => x.StoreId).FirstOrDefault();
    var storeImage = Model.Select(x => x.StoreImage).FirstOrDefault();
    var storeURL = Model.Select(x => x.StoreURL).FirstOrDefault();
    var OfferId = Model.Select(x => x.SourceStoreId).FirstOrDefault();
}

<div class="row">
    <div class="row box">
        <div class="col-md-12">
            <div class="col-md-3" style="text-align: center">
                <a target="_blank" href="@Url.Action("Out", "Out", new { source = "store", id = storeId })">
                    <img  src="@Url.Content("~/Images/" + storeImage)" alt="@storeImage"/>
                </a>
            </div>
            <div class="col-md-9">
                <h4><span class="boxtitle">About @store</span></h4>
                @Model.Select(x => x.StoreDescription).FirstOrDefault()
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-3 col-sm-3 col-sx-3 paddingzero">
        <div class="box">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>Offer Type</b><div id="clearType" class="clear">Clear</div>
                </div>
                <div class="checkbox" style="padding-left: 5px;">
                    <label>
                        <input type="checkbox" value="Coupon" name="chktype">Coupon</label>
                    <label>
                        <input type="checkbox" value="Deal" name="chktype">Deal</label>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>Category</b><div id="clearCat" class="clear">Clear</div>
                </div>
                <div class="checkbox" style="padding-left: 5px;">
                    @foreach (var catname in Model.OrderBy(o => o.StoreCategoryName).Select(p => p.StoreCategoryName).Distinct())
                    {          
                        <label>
                            <input type="checkbox" value="@catname" name="chkcat"/>@catname</label>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9 col-sm-9 col-sx-9 paddingright0">
        <div class="box">
            @*@Html.Action("_DailyDeals", "Deal", new DealDunia.Domain.Entities.DailyDealsValues { StoreId = 0, StoreName = store })*@
            @*@Html.Action("_ExclusiveDeals", "Deal", new DealDunia.Domain.Entities.ExecutiveDealValues { CategoryId = 0, CategoryName = string.Empty, StoreCategoryId = 0, StoreCategoryName = string.Empty, StoreName = store, StoreId = 0 })*@
            <div id="divCoupon">
                @Html.Action("_Coupons", "Deal", new DealDunia.Domain.Entities.CouponValues { OfferType = string.Empty, OfferName = store, StoreCategoryName = string.Empty })
            </div>
            @Html.Action("_OfferURL", "Deal", new { SourceStoreId = OfferId })
        </div>
    </div>
</div>
