@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="container">
    <h3><a href="@Url.Action("Daily", "Deal")">Daily Deals</a></h3>
    <hr />
    @Html.Action("DailyDeals", "Nav")
    <h3>Shop By Store</h3>
    <hr />
    @Html.Action("ShopByStore", "Nav")
    <h3><a href="@Url.Action("Exclusive", "Deal")">Exclusive Deals</a></h3>
    <hr />
    @Html.Action("ExclusiveDeals", "Nav")
    <h3>Shop By Category</h3>
    <hr />
    @Html.Action("ShopByCategory", "Nav")
</div>


