@model IEnumerable<DealDunia.Web.Areas.Coupon>
@{
    WebGrid grid = new WebGrid(Model, rowsPerPage: 10);    
}

@grid.GetHtml(tableStyle: "table table-hover",
                headerStyle: "success",
                mode: WebGridPagerModes.All,
                firstText: "<<First", previousText: "<Previous", nextText: "Next>", lastText: "Last>>",
                columns: new[]{
                                 grid.Column(format: @<text><button class="btn btn-primary display-mode edit-coupon" value="@item.CouponId">Edit</button></text>)
                                @*,grid.Column(columnName:"StoreCategory.StoreCategoryName",header:"Store Category", format: @<text><span class="display-mode">
                                    <label id="lbStoreCategory" style="max-height: 15px;">@(item.StoreCategory == null ? "" : item.StoreCategory.StoreCategoryName)</label>
                                </span>
<div class="divStoreCategoryId edit-mode"></div></text>, canSort:true)*@ 
                                 ,grid.Column(columnName:"Category",header:"Coupon Category", canSort:true)                                 
                                 ,grid.Column(columnName:"StoreSource.StoreSourceName",header:"Store Source", canSort:false) 
                                 ,grid.Column(header:"Store", format: @<text>@DealDunia.Web.Areas.Admin.Controllers.CouponsController.GetStoreName(item.StoreSourceId,item.OfferId)</text>)                                 
                                ,grid.Column(columnName:"OfferName",header:"Offer Name", canSort:true) 
                                ,grid.Column(columnName:"CouponTitle",header:"Title", canSort:false)                                 
                                ,grid.Column(columnName:"OfferType",header:"Offer Type", canSort:false) 
                                ,grid.Column(columnName:"CouponCode",header:"Coupon Code", canSort:false) 
                                ,grid.Column(columnName:"Status",header:"Status", canSort:false) 
                                ,grid.Column(columnName:"Featured",header:"Featured", canSort:false) 
                                ,grid.Column(columnName:"Exclusive",header:"Exclusive", canSort:false) 
                                
                              }
)

<script type="text/javascript">
    $(document).ready(function () {
        var settings = {
            storeCategoryURL: '@Url.Action("_StoreCategoryDropDown", "ExclusiveDeal")',
            editCouponCategoryURL: '@Url.Action("EditCoupon", "Coupons")',
            editCouponURL: '@Url.Action("_EditCoupon", "Coupons")'
        };

        $('.edit-mode').hide();

        callAjaxURLWithSingleParam(settings.storeCategoryURL, { controlName: 'StoreCategoryId' })
            .done(function (data) {
                $(".divStoreCategoryId").html(data);
            }).fail(function () {
                //TODO:Debugging
            });

        $(".edit-coupon").on("click", function () {
            var couponId = $(this).val();

            callAjaxURLWithSingleParam(settings.editCouponURL, { CouponId: couponId })
                .done(function (coupon) {
                    $(".modal-dialog").html(coupon);
                    $("#myModal").modal();

                    //Need to register unobtrusive validation for dynamically added elements
                    var form = $("#myForm");
                    form.removeData('validator');
                    form.removeData('unobtrusiveValidation');
                    $.validator.unobtrusive.parse(form);
                }).fail(function () {
                    //TODO:Debugging
                });
        });
    });
</script>
