@model IEnumerable<DealDunia.Web.Areas.Coupon>
@{
    WebGrid grid = new WebGrid(Model, rowsPerPage: 10);    
}

@grid.GetHtml(tableStyle: "table table-hover",
                headerStyle: "success",
                mode: WebGridPagerModes.All,
                firstText: "<<First", previousText: "<Previous", nextText: "Next>", lastText: "Last>>",
                columns: new[]{
                                grid.Column(format: @<text><button class="btn btn-primary display-mode edit-coupon" value="@item.CouponId">Edit</button>
<button class="btn btn-primary save-user edit-mode" value="@item.CouponId">Save</button>
<button class="btn btn-primary cancel-user edit-mode">Cancel</button></text>)
                                ,grid.Column(columnName:"StoreCategory.StoreCategoryName",header:"Store Category", format: @<text><span class="display-mode">
                                     <label id="lbStoreCategory" style="max-height: 15px;">@(item.StoreCategory == null ? "" : item.StoreCategory.StoreCategoryName)</label>
                                 </span>
<div class="divStoreCategoryId edit-mode"></div></text>, canSort:true) 
                                 ,grid.Column(columnName:"Category",header:"Coupon Category", canSort:true)                                 
                                 ,grid.Column(columnName:"StoreSource.StoreSourceName",header:"Store Source", canSort:false) 
                                 ,grid.Column(header:"Store", format: @<text>@DealDunia.Web.Areas.Admin.Controllers.CouponsController.GetStoreName(item.StoreSourceId,item.OfferId)</text>)                                 
                                ,grid.Column(columnName:"OfferName",header:"Offer Name", canSort:true) 
                                ,grid.Column(columnName:"CouponTitle",header:"Title", canSort:false)                                 
                                ,grid.Column(columnName:"OfferType",header:"Offer Type", canSort:false) 
                                ,grid.Column(columnName:"CouponCode",header:"Coupon Code", canSort:false) 
                                ,grid.Column(columnName:"Status",header:"Status", canSort:false) 
                                ,grid.Column(columnName:"Featured",header:"Featured", canSort:false) 
                                ,grid.Column(columnName:"Exclusive",header:"Exclusive", canSort:false) 
                                
                              }
)

<script type="text/javascript">
    $(document).ready(function () {
        $('.edit-mode').hide();

        $.ajax({
            url: '@Url.Action("_StoreCategoryDropDown", "ExclusiveDeal")',
            data: { controlName: "StoreCategoryId" }
        }).done(function (data) {
            $(".divStoreCategoryId").html(data);
        }).fail(function () {
        });

        $(".edit-coupon, .cancel-user").on("click", function () {
            var tr = $(this).parents('tr:first');
            var editVal = $('#StoreCategoryId option').filter(function () { return $(this).html() == $("#lbStoreCategory").text(); }).val();
            tr.find("#StoreCategoryId").val(editVal);
            tr.find('.edit-mode, .display-mode').toggle();
        });

        $('.save-user').on('click', function () {
            var tr = $(this).parents('tr:first');
            var storeCategoryId = tr.find("#StoreCategoryId").val();
            var storeCategoryName = tr.find("#StoreCategoryId option:selected").text();
            var couponId = $(this).val();

            var couponModel = {
                couponId: couponId,
                storeCateogoryId: storeCategoryId
            }

            $.ajax({
                url: '@Url.Action("EditCoupon", "Coupons")',
                data: couponModel,
                type: 'POST'
            }).done(function (data) { }).fail(function () { });

            tr.find("#lbStoreCategory").text(storeCategoryName);

            tr.find('.edit-mode, .display-mode').toggle();
        });
    });
</script>
