@model IEnumerable<DealDunia.Web.Areas.Coupon>

@{
    ViewBag.Title = "Coupons";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <h2>Coupon</h2>
    </div>
    <div class="col-md-6" style="float: right; text-align: right; top: 21px;">
        @*<button class="btn btn-primary add-coupon">Add Exclusive Deal</button>*@
    </div>
</div>

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Search</h3>
    </div>
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="form-group">
                <label for="StoreSourceID" class="col-sm-2 control-label" style="max-height: none;">Store Source</label>
                <div class="col-sm-10 divSearchStoreSourceID">
                    <!-- placeholder for store source dropdown -->
                </div>
            </div>
            <div class="form-group">
                <label for="StoreID" class="col-sm-2 control-label" style="max-height: none;">Store</label>
                <div class="col-sm-10 divSearchStoreID">
                    <!-- placeholder for store source dropdown -->
                </div>
            </div>
            <div class="form-group">
                <label for="StoreCategoryId" class="col-sm-2 control-label" style="max-height: none;">Store Category</label>
                <div class="col-sm-10 divSearchStoreCategoryId">
                    <!-- placeholder for storecategory dropdown -->
                </div>
            </div>
            <div class="form-group">
                <label for="OfferType" class="col-sm-2 control-label" style="max-height: none;">Offer Type</label>
                <div class="col-sm-10">
                    <select class="form-control" id="searchOfferType">
                        <option value="">All</option>
                        <option value="Coupon">Coupon</option>
                        <option value="Deal">Deal</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="IsFeatured" class="col-sm-2 control-label" style="max-height: none;">Is Featured</label>
                <div class="col-sm-10 dropdown">
                    <select class="form-control" id="SearchFeatured">
                        <option value="">All</option>
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="Active" class="col-sm-2 control-label" style="max-height: none;">Active</label>
                <div class="col-sm-10 dropdown">
                    <select class="form-control" id="SearchActive">
                        <option value="">All</option>
                        <option value="true" selected="selected">True</option>
                        <option value="false">False</option>
                    </select>
                </div>

            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-default btnSearch">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">@TempData["Message"].ToString()</div>
}

<div id="divCouponGrid">
    @Html.Partial("_CouponGrid", Model)
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("_StoreSourceDropDown", "Coupons")',
            data: { controlName: "StoreSourceId" }
        }).done(function (data) {
            $(".divSearchStoreSourceID").html(data);
        }).fail(function (error) {
        });

        $.ajax({
            url: '@Url.Action("_StoreCategoryDropDown", "ExclusiveDeal")',
            data: { controlName: "StoreCategoryId" }
        }).done(function (data) {
            $(".divSearchStoreCategoryId").html(data);
        }).fail(function () {
        });

        $.ajax({
            url: '@Url.Action("_StoreDropDown", "Coupons")',
            data: { controlName: "StoreName" }
        }).done(function (data) {
            $(".divSearchStoreID").html(data);
        }).fail(function () {
        });

        $(".btnSearch").click(function () {
            var storeSourceId = $("[id='ss-dropdown']").val();
            var storeCategoryId = $("[id='StoreCategoryId']").val();
            var featured = $("[id='SearchFeatured']").val();
            var active = $("[id='SearchActive']").val();
            var offerType = $("[id='searchOfferType']").val();
            var store = $("[id='st-dropdown']").val();

            $.ajax({
                url: '@Url.Action("_CouponGrid", "Coupons")',
                data: { storeSourceId: storeSourceId, storeCategoryId: storeCategoryId, featured: featured, status: active, offerType: offerType, store : store }
            }).done(function (data) {
                $("#divCouponGrid").html(data);
            }).fail(function (error) {
            });
        });
    });
</script>
