@model IEnumerable<DealDunia.Domain.Entities.VCommissionResponse>

@{
    ViewBag.Title = "Coupons & Offers";
}

<h2>Coupons & Offers</h2>

<div class="container">
    @foreach (var coupon in Model)
    {
        <div class="panel panel-info">
            <div class="panel-heading"><strong>@coupon.offer_name</strong> (@coupon.coupon_title)</div>
            <div class="panel-body">
                <div style="float:left;">
                    <span>@coupon.coupon_title</span><br />
                    <span>@coupon.coupon_description</span><br />
                    <span>Expires on @coupon.coupon_expiry</span>
                </div>
                <div style="float:right;">
                    <span><a target="_blank" href="@coupon.link">@coupon.coupon_code</a></span>
                </div>
            </div>
        </div>
        <br />
    }
</div>
