@model IEnumerable<string>
<br />
<div>
    <ul class="list-group"><a href="@Url.Action("Stores", "Store")">Online Stores</a></ul>
    <ul class="list-group"><a href="@Url.Action("Daily", "Deal")">Daily Deals</a></ul>
    <ul class="list-group"><a href="@Url.Action("Exclusive", "Deal")">Exclusive Deals</a></ul>
    <ul class="list-group">
        @foreach (var coupon in Model)
        {
            <ul class="list-group"><a href="@Url.RouteUrl("CouponsByCategory", new { Category = @coupon.Replace("&", "and") })">@coupon</a></ul>
        }
    </ul>
</div>
