@model IEnumerable<string>
<br />

<ul class="list-group"><a href="@Url.Action("Daily", "Deal")">Daily Deals</a></ul>
<ul class="list-group"><a href="@Url.Action("Exclusive", "Deal")">Exclusive Deals</a></ul>
<ul class="list-group"><a href="@Url.Action("Stores", "Store")">Online Stores</a></ul>
<ul class="list-group">
    Coupons & Promotions
    @foreach (var coupon in Model)
    {
        <li class="list-group-item"><a href="@Url.RouteUrl("CouponsByCategory", new { Category = @coupon.Replace("&","and")})">@coupon</a></li>
    }
</ul>