@model IEnumerable<DealDunia.Domain.Entities.Category>
@using DealDunia.Infrastructure.Utility

<script type="text/javascript">
    $(function () {
        $('#main-menu').smartmenus({
            subMenusSubOffsetX: 1,
            subMenusSubOffsetY: -8
        });
        $('#main-menu').smartmenus('keyboardSetHotkey', '123', 'shiftKey');
    });
</script>

<nav class="navbar navbar-inverse">
    <div class="navbar-header">
       @* <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>*@
        <a class="navbar-brand" href="#">HOME</a>
    </div>

    <div class="collapse navbar-collapse js-navbar-collapse">
        @foreach (var category in Model.Where(c => c.Level == 1))
        {
            <ul class="nav navbar-nav">
                <li class="dropdown mega-dropdown">
                    <a href="@Url.RouteUrl("Level1", new { id1 = Utilities.EncodeUrl(category.CategoryName) })" class="dropdown-toggle" data-toggle="dropdown">@category.CategoryName <span class="glyphicon glyphicon-chevron-down pull-right"></span></a>
                    <ul class="dropdown-menu mega-dropdown-menu row">
                        @foreach (var subcategory in Model.Where(m => m.ParentId == category.CategoryId))
                        {
                            <li class="col-sm-3">
                                <ul>
                                    <li class="dropdown-header">@subcategory.CategoryName</li>
                                    <li class="divider"></li>
                                    @foreach (var inner in Model.Where(i => i.ParentId == subcategory.CategoryId))
                                    {
                                        <li><a href="@Url.RouteUrl("Level3", new { id1 = Utilities.EncodeUrl(category.CategoryName), id2 = Utilities.EncodeUrl(subcategory.CategoryName), id3 = Utilities.EncodeUrl(inner.CategoryName) })">@inner.CategoryName</a></li>                                            
                                    }
                                </ul>
                            </li>
                        }
                    </ul>
                </li>
            </ul>
        }
    </div>
</nav>

