@model IEnumerable<DealDunia.Domain.Entities.Category>
@using DealDunia.Infrastructure.Utility

<div class="navbar-header">
    <a class="navbar-brand" href='@Url.Action("Index", "Category")'>HOME</a>
</div>
<div class="collapse navbar-collapse js-navbar-collapse">
    @foreach (var category in Model.Where(c => c.Level == 1))
    {
        <ul class="nav navbar-nav">
            <li class="dropdown mega-dropdown" style="vertical-align: middle;">
                <a href="@Url.RouteUrl("Level1", new { id1 = Utilities.EncodeUrl(category.CategoryName) })" class="dropdown-toggle" data-toggle="dropdown">@category.CategoryName&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-down pull-right"></span></a>
                <ul class="dropdown-menu mega-dropdown-menu row">
                    @foreach (var subcategory in Model.Where(m => m.ParentId == category.CategoryId))
                    {
                        <li class="col-sm-2">
                            <ul>
                                <li class="dropdown-header">@subcategory.CategoryName</li>
                                <li class="divider"></li>
                                @foreach (var inner in Model.Where(i => i.ParentId == subcategory.CategoryId))
                                {
                                    <li><a href="@Url.RouteUrl("Level3", new { id1 = Utilities.EncodeUrl(category.CategoryName), id2 = Utilities.EncodeUrl(subcategory.CategoryName), id3 = Utilities.EncodeUrl(inner.CategoryName) })">@inner.CategoryName</a></li>                                            
                                }
                            </ul>
                        </li>
                    }
                </ul>
            </li>
        </ul>
    }
</div>
