@model IEnumerable<DealDunia.Infrastructure.Abstract.IItemResponse>

<div class="row">
    @foreach (var item in Model)
    {        
        <div class="panel panel-default col-md-4">
            <div class="divProStoreImg">
                <img class="ProStoreImg" alt="@item.StoreName"  src="@Url.Content("~/Images/" + item.StoreImage)"/>
            </div>
            <div class="divProImg">
                <img class="ProImg" alt="@item.Title" src="@item.ImageUrl" />
            </div>
            <hr style="margin: 10px;" />
            <div class="divProTitle">
                <b>@item.Title</b>
            </div>
            <hr style="margin: 10px;" />
            <div class="divProPriceOuter">
                <div class="divProPriceInner">
                    <span style="color: gray; text-decoration-line: overline">Rs. @item.FormattedMRP</span>&nbsp;
                        <span style="color: red;"><b>@item.FormattedAmount</b></span>
                    <span style="float: right;">
                        <a style="float:right" class="btn btn-primary btn-xs" target="_blank" href="@item.DetailPageURL">Buy</a>
                    </span>
                </div>
            </div>
        </div>
    }
</div>
