@model IEnumerable<DealDunia.Infrastructure.Abstract.IItemResponse>

<div class="row">
    @foreach (var item in Model)
    {        
        <div class="panel panel-default col-md-4">
            <div class="divProStoreImg">
                <img class="ProStoreImg" alt="@item.StoreName"  src="@Url.Content("~/Images/" + item.StoreImage)"/>
            </div>
            <div class="divProImg">
                <img class="ProImg" alt="@item.Title" src="@item.ImageUrl" />
            </div>
            <hr style="margin: 10px;" />
            <div class="divProTitle">
                <b>@item.Title</b>
            </div>
            <hr style="margin: 10px;" />
            <div class="divProPriceOuter">
                <div class="divProPriceInner">
                    <span style="color: gray; text-decoration-line: overline">Rs. @item.FormattedMRP</span>&nbsp;
                        <span style="color: red;"><b>@item.FormattedAmount</b></span>

                </div>
                <span>
                    <a style="float:right" class="btn btn-primary btn-xs" target="_blank" href="@item.DetailPageURL">Buy</a>
                </span>
            </div>
        </div>
    }
</div>
<div style="margin: 0 auto; display: table;">
    @if (ViewContext.RouteData.Values["id3"] != null)
    {
        @Html.PageLinks(new DealDunia.Web.Models.PagingInfo { CurrentPage = ViewBag.Page, ItemsPerPage = 10, TotalItems = 50 }, x => Url.Action("Browse3", "Category", new { id1 = DealDunia.Infrastructure.Utility.Utilities.EncodeUrl(ViewContext.RouteData.Values["id1"].ToString()), id2 = DealDunia.Infrastructure.Utility.Utilities.EncodeUrl(ViewContext.RouteData.Values["id2"].ToString()), id3 = DealDunia.Infrastructure.Utility.Utilities.EncodeUrl(ViewBag.SearchedItem), page = x }))
    }
    else
    {
        @Html.PageLinks(new DealDunia.Web.Models.PagingInfo { CurrentPage = ViewBag.Page, ItemsPerPage = 10, TotalItems = 50 }, x => Url.Action("Search", "Product", new { searchtext = ViewBag.SearchedItem, page = x }))
    }
</div>
