@model IEnumerable<DealDunia.Web.Areas.ExcDeal>

<table class="table table-hover">
    <tr class="success">
        <td><strong>Store</strong></td>
        <td><strong>Store Category</strong></td>
        <td><strong>Title</strong></td>
        <td><strong>Status</strong></td>
        <td><strong>Is Featured</strong></td>
        <td>&nbsp;</td>
    </tr>
    @foreach (var deal in Model)
    {
        <tr>
            <td>@deal.Store.StoreName</td>
            <td>@(deal.StoreCategory == null ? "N/A" : deal.StoreCategory.StoreCategoryName)</td>
            <td>@deal.Title</td>
            <td>@Html.EditorFor(m => deal.Active)</td>
            <td>@Html.EditorFor(m => deal.IsFeatured)</td>
            <td>
                <button class="btn btn-primary edit-deal" value="@deal.ExcDealId">
                    Edit</button>
            </td>
        </tr>
    }
</table>

<script type="text/javascript">
    $(document).ready(function () {
        $(".edit-deal").click(function () {
            var settings = {
                editExclusiveDealURL: '@Url.Action("_EditExcDeal", "ExclusiveDeal")'
            };

            var excDealId = $(this).val();

            callAjaxURLWithSingleParam(settings.editExclusiveDealURL, { id: excDealId })
                .done(function (data) {
                    $(".modal-dialog").html(data);
                    $("#myModal").modal();

                    //Need to register unobtrusive validation for dynamically added elements
                    var form = $("#myForm");
                    form.removeData('validator');
                    form.removeData('unobtrusiveValidation');
                    $.validator.unobtrusive.parse(form);
                }).fail(function () {
                    //TODO:Debugging
                });
        });
    });
</script>
