@model IEnumerable<DealDunia.Web.Areas.ExcDeal>
@{
    ViewBag.Title = "Exclusive Deal";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <h2>Exclusive Deal</h2>
    </div>
    <div class="col-md-6" style="float: right; text-align: right; top: 21px;">
        <button class="btn btn-primary add-deal">Add Exclusive Deal</button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
    </div>
</div>



<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Search</h3>
    </div>
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="form-group">
                <label for="StoreID" class="col-sm-2 control-label" style="max-height: none;">Store</label>
                <div class="col-sm-10 divSearchStoreID">
                    <!-- placeholder for store dropdown -->
                </div>
            </div>
            <div class="form-group">
                <label for="StoreCategoryId" class="col-sm-2 control-label" style="max-height: none;">Store Category</label>
                <div class="col-sm-10 divSearchStoreCategoryId">
                    <!-- placeholder for storecategory dropdown -->
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="SearchIsFeatured">
                            Is Featured
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-default btnSearch">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">@TempData["Message"].ToString()</div>
}

<div id="divMainGrid">
    @Html.Partial("_IndexView", Model)
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".add-deal").click(function () {
            $.ajax({
                url: '@Url.Action("_AddExcDeal", "ExclusiveDeal")',
            }).done(function (data) {
                $(".modal-dialog").html(data);
                $("#myModal").modal();

                //Need to register unobtrusive validation for dynamically added elements
                var form = $("#myForm");
                form.removeData('validator');
                form.removeData('unobtrusiveValidation');
                $.validator.unobtrusive.parse(form);
            }).fail(function () {
            });
        });

        $.ajax({
            url: '@Url.Action("_StoreDropDown", "ExclusiveDeal")',
            data: { controlName: "StoreId" }
        }).done(function (data) {
            $(".divSearchStoreID").html(data);
        }).fail(function (error) {
        });

        $.ajax({
            url: '@Url.Action("_StoreCategoryDropDown", "ExclusiveDeal")',
            data: { controlName: "StoreCategoryId" }
        }).done(function (data) {
            $(".divSearchStoreCategoryId").html(data);
        }).fail(function () {
        });

        $(".btnSearch").click(function () {
            var storeId = $("[id='cc-dropdown']").val();
            var storeCategoryId = $("[id='StoreCategoryId']").val();
            var isFeatured = $("[id='SearchIsFeatured']").is(":checked");

            $.ajax({
                url: '@Url.Action("_IndexView", "ExclusiveDeal")',
                data: { storeId: storeId, storeCategoryId: storeCategoryId, isFeatured: isFeatured }
            }).done(function (data) {
                $("#divMainGrid").html(data);
            }).fail(function (error) {
            });
        });
    });
</script>
