@model IEnumerable<DealDunia.Domain.Entities.DailyDeals>

@if (Model.Count() > 0)
{
    <div class="panel panel-default col-md-12">
        <h4>DAILY OFFERS</h4>
        <hr />
        <div class="row">
            @foreach (var deal in Model)
            {                    
                <div class="divDeal col-md-4">
                    <div class="divDealImg">
                        <b><a target="_blank" href="@Url.Action("Out", "Out", new { source = "daily-deals", id = @deal.DailyDealId })">
                            <img class="store_logo" alt="@deal.Title" src="@Url.Content("~/Images/" + deal.Image)" /></a></b>
                    </div>
                    <hr />
                    <div class="divDealTitle">
                        <b><a target="_blank" href="@Url.Action("Out", "Out", new { source = "daily-deals", id = @deal.DailyDealId })">@deal.Title</a></b>
                    </div>
                    <div class="divDealCodeOuter">
                        <span><a class="divDealCodeInner" target="_blank" href="@Url.Action("Out", "Out", new { source = "daily-deals", id = @deal.DailyDealId })">VISIT OFFER</a></span>
                        <br />
                    </div>

                </div>
            }
        </div>
    </div>
}