@model IEnumerable<DealDunia.Domain.Entities.Coupon>
@using DealDunia.Infrastructure.Utility

@{
    ViewBag.Title = "Coupons & Offers";
    ViewBag.Source = "couponsbycat";
}

<script>
    $(document).ready(function () {
        var stores = '';
        var offertype = '';


        function Init() {

            stores = '';
            offertype = '';

            $("input[type=checkbox][name=chkstore]:checked").each(function () {
                stores += $(this).val() + ",";
            });

            $("input[type=checkbox][name=chktype]:checked").each(function () {
                offertype += $(this).val() + ",";
            });
        }

        $("input[type=checkbox][name=chkstore]").click(function () {
            Init();

            $.ajax({
                url: '@Url.Action("_Coupons", "Deal")',
                data: { OfferType: offertype, OfferName: stores, StoreCategoryName: '@ViewContext.RouteData.Values["Category"].ToString()' }
            }).done(function (data) {
                //TODO
                $("#divCoupon").html(data);
            }).fail(function () {
                //TODO
            });
        });

        $("input[type=checkbox][name=chktype]").click(function () {
            Init();

            $.ajax({
                url: '@Url.Action("_Coupons", "Deal")',
                data: { OfferType: offertype, OfferName: stores, StoreCategoryName: '@ViewContext.RouteData.Values["Category"].ToString()' }
            }).done(function (data) {
                //TODO
                $("#divCoupon").html(data);
            }).fail(function () {
                //TODO
            });
        });
    });
</script>

@Html.Action("_Stores", "Store", new DealDunia.Domain.Entities.StoreValues { StoreCategoryName = Utilities.DecodeUrl(ViewContext.RouteData.Values["category"].ToString()) })
<div>
    <ul style="list-style: none;">
        @foreach (var storename in Model.Select(m => m.OfferName).Distinct())
        {
            <li>
                <input type="checkbox" value="@storename" name="chkstore"/>@storename</li>
        }
    </ul>
</div>
<div>
    <ul style="list-style: none;">
        @foreach (var offertype in Model.Select(m => m.OfferType).Distinct())
        {
            <li>
                <input type="checkbox" value="@offertype" name="chktype"/>@offertype</li>
        }
    </ul>
</div>
<div id="divCoupon">
    @Html.Partial("_Coupons", Model)
</div>
