@model IEnumerable<DealDunia.Domain.Entities.Coupon>
@using DealDunia.Infrastructure.Utility

@{
    ViewBag.Title = "GrabMeDeal: " + Utilities.DecodeUrl(@ViewContext.RouteData.Values["Category"].ToString()) + " Deals & Coupons Offers";
    ViewBag.Source = "couponsbycat";
}

<script>
    $(document).ready(function () {
        var stores = '';
        var offertype = '';

        function Init() {
            stores = '';
            offertype = '';
            $("input[type=checkbox][name=chkstore]:checked").each(function () {
                stores += $(this).val() + ",";
            });
            $("input[type=checkbox][name=chktype]:checked").each(function () {
                offertype += $(this).val() + ",";
            });
        }

        $("input[type=checkbox][name=chkstore]").click(function () {
            Init();
            $.ajax({
                url: '@Url.Action("_Coupons", "Deal")',
                data: { OfferType: offertype, OfferName: stores, StoreCategoryName: '@ViewContext.RouteData.Values["Category"].ToString()' }
            }).done(function (data) {
                $("#divCoupon").html(data);
            }).fail(function () {
            });
        });

        $("input[type=checkbox][name=chktype]").click(function () {
            Init();
            $.ajax({
                url: '@Url.Action("_Coupons", "Deal")',
                data: { OfferType: offertype, OfferName: stores, StoreCategoryName: '@ViewContext.RouteData.Values["Category"].ToString()' }
            }).done(function (data) {
                $("#divCoupon").html(data);
            }).fail(function () {
            });
        });
    });
</script>



<div class="row">
    <div class="col-md-3 col-sm-3 col-sx-3">

        <div class="panel panel-default">
            <h4>Offer Type</h4>
            <hr />
            <div class="checkbox" style="padding-left: 5px;">
                @foreach (var offertype in Model.OrderBy(o => o.OfferType).Select(p => p.OfferType).Distinct())
                {                    
                    <label>
                        <input type="checkbox" value="@offertype" name="chktype"/>@offertype</label>
                }
            </div>
        </div>
        <div class="panel panel-default">
            <h4>Stores</h4>
            <hr />
            <div class="checkbox" style="padding-left: 5px; padding-right: 5px;">
                @foreach (var storename in Model.OrderBy(o => o.OfferName).Select(p => p.OfferName).Distinct())
                {          
                    <label>
                        <input type="checkbox" value="@storename" name="chkstore"/>@storename</label>
                }
            </div>
        </div>

    </div>
    <div class="col-md-9 col-sm-9 col-sx-9">
        @Html.Action("_Stores", "Store", new DealDunia.Domain.Entities.StoreValues { StoreCategoryName = Utilities.DecodeUrl(ViewContext.RouteData.Values["category"].ToString()) })
        <div id="divCoupon">
            @Html.Partial("_Coupons", Model)
        </div>

    </div>

</div>
