@model IEnumerable<DealDunia.Domain.Entities.Coupon>
@using DealDunia.Infrastructure.Utility

    <meta name="description" content="@Utilities.DecodeUrl(@ViewContext.RouteData.Values["Category"].ToString()) + " Deals & Coupons Offers";" />

@{
    ViewBag.Title = Utilities.DecodeUrl(@ViewContext.RouteData.Values["Category"].ToString()) + " Deals & Coupons Offers - GrabMeDeal";
    ViewBag.MetaDescription = Utilities.DecodeUrl(@ViewContext.RouteData.Values["Category"].ToString()) + " coupons, discount codes & deals from various online stores across India.";
    ViewBag.keywords = Utilities.DecodeUrl(@ViewContext.RouteData.Values["Category"].ToString()) + " Coupons, " + Utilities.DecodeUrl(@ViewContext.RouteData.Values["Category"].ToString()) + " Offers";
    ViewBag.Source = "couponsbycat";
}

<script>
    $(document).ready(function () {
        var stores = '';
        var offertype = '';

        function Init() {
            stores = '';
            offertype = '';
            $("input[type=checkbox][name=chkstore]:checked").each(function () {
                stores += $(this).val() + ",";
            });
            $("input[type=checkbox][name=chktype]:checked").each(function () {
                offertype += $(this).val() + ",";
            });
        }

        function LoadCoupons() {
            Init();
            $.ajax({
                url: '@Url.Action("_Coupons", "Deal")',
                data: { OfferType: offertype, OfferName: stores, StoreCategoryName: '@ViewContext.RouteData.Values["Category"].ToString()' }
            }).done(function (data) {
                $("#divCoupon").html(data);
            }).fail(function () {
            });
        }

        $("input[type=checkbox][name=chkstore]").click(function () {
            LoadCoupons();
        });

        $("input[type=checkbox][name=chktype]").click(function () {
            LoadCoupons();
        });

        $("#clearType").click(function () {
            $("input[type=checkbox][name=chktype]:checked").each(function () {
                this.checked = false;
            });
            LoadCoupons();
        });

        $("#clearStore").click(function () {
            $("input[type=checkbox][name=chkstore]:checked").each(function () {
                this.checked = false;
            });
            LoadCoupons();
        });

        $.ajax({
            type: "POST",
            url: "/Source/getCampaignCode",
            data: { categoryName: '@Utilities.DecodeUrl(ViewContext.RouteData.Values["Category"].ToString())' }
        }).done(function (data) {
            $("#divCampaign").html(data);
        }).fail(function () {
        });

    });
</script>


@Html.Action("_Stores", "Store", new DealDunia.Domain.Entities.StoreValues { StoreCategoryName = Utilities.DecodeUrl(ViewContext.RouteData.Values["category"].ToString()) })
<div class="row">
    @* <h4><span class="boxtitle">DEALS & COUPONS</span></h4>*@
    <div class="col-md-3 col-sm-3 col-sx-3 paddingzero">
        <div class="box">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>Offer Type</b><div id="clearType" class="clear">Clear</div>
                </div>
                <div class="checkbox" style="padding-left: 5px;">
                    @foreach (var offertype in Model.OrderBy(o => o.OfferType).Select(p => p.OfferType).Distinct())
                    {
                        <label>
                            <input type="checkbox" value="@offertype" name="chktype" />@offertype
                        </label>
                    }
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>Category</b><div id="clearStore" class="clear">Clear</div>
                </div>
                <div class="checkbox" style="padding-left: 5px; padding-right: 5px;">
                    @foreach (var storename in Model.OrderBy(o => o.OfferName).Select(p => p.OfferName).Distinct())
                    {
                        <label>
                            <input type="checkbox" value="@storename" name="chkstore" />@storename
                        </label>
                    }
                </div>
            </div>
            <div id="divCampaign"></div>
        </div>
    </div>
    <div class="col-md-9 col-sm-9 col-sx-9 paddingright0">
        <div class="box">
            <div id="divCoupon">
                @Html.Partial("_Coupons", Model)
            </div>
        </div>
    </div>
</div>
